@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

:root {
    --main-bg-color: rgb(21, 20, 18);
    --header-text-color: rgb(255, 255, 255);
    --special-text-color: rgb(199, 161, 122);
    --main-text-color: rgb(172, 172, 172);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    background-color: var(--main-bg-color);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: var(--header-text-color);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; 
}

/* HEADER */
header{
    height: 70vh;
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
header h1{
    color: var(--header-text-color);
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 4px 0 black;
    margin-bottom: 2rem;
}
header h2{
    color: var(--header-text-color);
    
    font-style: italic;
    font-size: 2em;
    font-weight: 300; 
    text-transform: uppercase;
    text-shadow: 4px 0 black;
    margin-bottom: 2rem;
}
header .inner-container{
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 17rem;
}
.header-btn{
    display: inline-block;
    width: 200px;
    font-weight: 400;
    padding: 10px;
    color: var(--header-text-color);
    border: 4px solid var(--header-text-color);
    text-align: center;
    outline: none;
    text-decoration: none;
    margin: 15px;
    transition: background-color .2s ease-out, color .2s ease-out, border .2s;
}
.header-btn:hover, .header-btn:active{
    background-color: var(--special-text-color);
    color: #000;
    border: 4px solid var(--special-text-color);
    transition: background-color .3s ease-in, color .3 ease-in, border .3s;
}
/* CONTENT */
.content{
    padding: 3rem 10rem;
    color: var(--main-text-color);
    font-size: 18px;
    min-height: 500px;
}
.content-header{
    text-align: center;
    text-transform: uppercase;
}
.content-header h2{
    color: var(--header-text-color);
    font-size: 28px;
    font-weight: 600;
    margin: 1rem 0;
}
.content-header h3{
    color: var(--special-text-color);
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    margin: 1rem 0 2rem;
}
.content-header:after{
    display: inline-block;
    content: "";
    border-top: .15rem solid var(--special-text-color);
    width: 8rem;
    transform: translateY(-1rem);
}
.content-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list-element{
    border: 4px solid var(--header-text-color);
    margin: 2rem;
    text-align: center;
    transition: border .2s;
}
.list-element:hover{
    border: 4px solid var(--special-text-color);
    transition: border .3s;
}
.list-element h3{
    color: var(--header-text-color);
    text-transform: uppercase;
    margin: 1rem;
    transition: color .2s;
}
.list-element:hover h3{
    color: var(--special-text-color);
    transition: color .3s;
}
.list-element img{
    height: 300px;
}

/* COFFEE MODAL PAGE*/
.modal-container{
    color: var(--special-text-color);
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    width: 60%;
    height: 90%;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(44, 27, 5);
}
.modal-header{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
}
.modal-img img{
    margin: 1rem 2rem;
    max-width: 50%;
    float: left;
    border: 2px solid var(--special-text-color);
}
.modal-body{
    font-size: 1.2rem;
    line-height: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
}
.modal-footer{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;r
}

/* FOOTER */
footer{
    padding: 2rem;
    bottom: 0;
    width: 100%;
    min-height: 7rem;
    background-color: rgb(10, 6, 0);
    display: flex;
    justify-content: flex-end;
}
footer h5{
    color: var(--special-text-color);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5rem;
}
footer a{
    text-decoration: none;
    margin: 1rem;
}

/* PHONES */
@media only screen and (max-width: 920) {
    .inner-container{
        margin-top: 100px;
    }
    
}